// SPDX-FileCopyrightText: Fondation RERO+
// SPDX-License-Identifier: AGPL-3.0-or-later

@import "~bootstrap/scss/bootstrap";
@import '~ngx-toastr/toastr-bs4-alert';

.bg-header {
  background-color: #15334D;
}

.bg-organisation {
    background-color: $bg-organisation;
}


// Avoid dropdown menu to appear under the wiki TOC.
div.wiki-page div.sticky-top {
  z-index: 900;
}

.home-text {
  line-height: 1.5em;
}

// Disable bootstrap dropdown transition
.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}
