// SPDX-FileCopyrightText: Fondation RERO+
// SPDX-License-Identifier: AGPL-3.0-or-later

$primary: #004687 !default;
$secondary: #0071b9 !default;
$color-white: #ffffff !default;
$color-gray: #d7e3f5 !default;

@import "../common/variables";
