{# SPDX-FileCopyrightText: Fondation RERO+ #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

<nav class="navbar navbar-expand-lg bg-{{ 'header' if page == 'home' else 'organisation' }}">
  <div class="container">
    {% if page != 'home' %}
    {% set url = url_for('index', view=view_code) if g.get('organisation', {}).get('isDedicated') and view_code != config.SONAR_APP_DEFAULT_ORGANISATION else url_for('index') %}
    <a class="navbar-brand" href="{{ url }}">
      {% if g.get('organisation', {}).get('isDedicated') %}
      {% set thumbnail = g.organisation | record_image_url('org') %}
      {% if thumbnail %}
      <img src="{{ thumbnail }}" alt="{{ _('Organisation logo') }}" height="50"
        class="d-inline-block align-top mr-3 my-2" alt="">
      {% else %}
      {{ g.organisation.name }}
      {% endif %}
      {% else %}
      <img src="{{ url_for('static', filename='images/global-logo.svg') }}"
        height="{{ '30' if g.get('organisation') and page == 'home' else '50' }}"
        class="d-inline-block align-top {{ '' if g.get('organisation') and page == 'home' else 'my-2' }}" alt="{{ _('SONAR logo') }}">
      {% endif %}
    </a>
    {% endif %}
    <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars p-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if not admin %}
      {% if page != 'home' %}
      <form
        action="{{ url_for('documents.search', view=view_code if g.get('organisation', {}).get('isDedicated') else config.SONAR_APP_DEFAULT_ORGANISATION) }}"
        class="form-inline my-2 my-lg-0 ml-lg-3">
        <input name="q" class="form-control {{ 'form-control-sm' if g.get('organisation') and page == 'home' else '' }} mr-sm-2"
          type="search" placeholder="{{ _('Search') }}" aria-label="{{ _('Search') }}"
          value="{{ request.args.get('q', '') }}">
        <button class="btn btn-outline-light {{ 'btn-sm' if g.get('organisation') else '' }} my-2 my-sm-0" type="submit"
          aria-label="{{ _('Search') }}">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      {% endif %}
      {% else %}
      <span class="navbar-text text-secondary">{{ _('Administration')|upper }}</span>
      {% endif %}
      <ul class="navbar-nav ml-auto">
        {%- if not current_user.is_authenticated %}
        <li class="nav-item px-3">
          <a class="nav-link" href="{{ url_for_security('login', next=request.path) }}" title="{{ _('Log in') }}">
            <i class="fa-solid fa-right-to-bracket mr-1"></i>{{ _('Log in') }}
          </a>
        </li>
        {% if security.registerable %}
        <li class="nav-item">
          <a class="btn btn-outline-light" href="{{ url_for_security('register') }}">
            <i class="fa-solid fa-user-plus mr-1"></i><strong>{{ _('Sign up') }}</strong>
          </a>
        </li>
        {% endif %}
        {% else %}
        {% if current_user_record.role == 'submitter'  %}
        <li class="nav-item">
          <a class="btn btn-outline-light" href="{{ url_for('sonar.manage', path='deposit/create')}}">
            <i class="fa-solid fa-file-circle-plus"></i>
            {{ _('Deposit a publication') }}
          </a>
        </li>
        {% endif %}
        <li class="nav-item dropdown pl-3">
          {% with dropdownId='userLinkDropdown' %}
          <a class="nav-link dropdown-toggle dropdown-toggle-custom" href="#" id="{{ dropdownId }}" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
            {% if current_user_record %}
            {{ current_user_record.last_name }}, {{ current_user_record.first_name }}
            {% else %}
            {{ current_user.email }}
            {% endif %}
          </a>
          {% include 'sonar/partial/dropdown_user.html' %}
          {% endwith %}
        </li>
        {% endif %}
        {%- if config.I18N_LANGUAGES %}
        <li class="nav-item dropdown pl-3">
          <a class="nav-link dropdown-toggle dropdown-toggle-custom" href="#" id="languageDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-language"></i>
            {{ current_i18n.language|upper }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
            {% for l in current_i18n.get_locales() %}
            <a class="dropdown-item" href="{{ url_for('invenio_i18n.set_lang', lang_code=l.language) }}">{{
              l.get_display_name()|capitalize }}</a>
            {% endfor %}
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
