<div class="dropdown">
  <button class="btn btn-outline-primary btn-block dropdown-toggle" type="button" id="dropdownMenuButton"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ label | default(_('Sign-up with SWITCHaai')) }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for provider in aai_providers() %}
    <a class="dropdown-item" href="{{ url_for('shibboleth_authenticator.login', remote_app=provider) }}">
      {{ _(provider) }}
    </a>
    {% endfor %}
  </div>
</div>
