{# SPDX-FileCopyrightText: Fondation RERO+ #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

<div class="p-4 bg-primary text-light rounded" >
  <h3>{{ _('Test logins') }}</h3>
  <p>{{ _('Choose your role:') }}</p>
  <ul>
    <li>rero.sonar+<strong>admin</strong>-dedicated@gmail.com</li>
    <li>rero.sonar+<strong>moderator</strong>-dedicated-sub1@gmail.com</li>
    <li>rero.sonar+<strong>submitter</strong>-dedicated-sub1@gmail.com</li>
  </ul>
  <p>{{ _('Password:') }} <em>Pw123456</em></p>
  {{ _('More test logins and documentation are available on the') }}
  <a href="{{ url_for('wiki.page', url='demo', view=view_code) }}" class="text-secondary">{{ _('help page') }}</a>
</div>
