<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ _("SONAR administration") }}</title>
    <base href="/manage" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    {{
      webpack["sonar-theme.css"]
    }}
  </head>

  <body>
    <sonar-root></sonar-root>
    <script src="/static/sonar-ui/runtime.js?{{ ui_version }}"></script>
    <script src="/static/sonar-ui/polyfills.js?{{ ui_version }}"></script>
    <script src="/static/sonar-ui/main.js?{{ ui_version }}"></script>
  </body>
</html>
