{# SPDX-FileCopyrightText: Fondation RERO+ #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'sonar/page.html' %}

{% block base_href %}
<base href="{{ request.path }}">
{% endblock base_href %}

{%- block css %}
{{ super() }}
<link href="{{ url_for('wiki.static', filename='css/wiki.css') }}" rel="stylesheet" />
{%- endblock %}

{%- block page_body %}
  <div class="container-fluid">
    {%- block body %}
      {% block navigation %}
        {%- include "wiki/navigation.html" %}
      {%- endblock navigation %}
      {%- block flashmessages %}
      {%- from "sonar/macros/messages.html" import flashed_messages with context -%}
      <div class="container my-3">{{ flashed_messages() }}</div>
      {%- endblock %}
      {# The toasts the wiki raises from the browser, revealed by wiki.js. #}
      <div class="wiki-toasts">
        {%- include "wiki/toasts.html" %}
      </div>
      {% block content %} {% endblock %}
    {%- endblock body %}
  </div>
{%- endblock page_body %}

{%- block javascript %}
{{ super() }}
{{ bootstrap.load_js() }}
<script type="text/javascript" src="{{ url_for('wiki.static', filename='js/wiki.js') }}"></script>
{%- endblock javascript %}
