{# SPDX-FileCopyrightText: Fondation RERO+ #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'sonar/page.html' %}

{%- block view %} data-view="{{ view }}"{%- endblock %}
{%- block body %}
{% if collection %}
{% include 'collections/item.html' %}
<hr class="my-4">
{% endif %}
<sonar-root class="sonar-ui"></sonar-root>
{% endblock %}

{%- block javascript %}
{{ super() }}
  {{ angular_assets('@rero/sonar-ui/dist/sonar/browser', 'css') }}
  {{ angular_assets('@rero/sonar-ui/dist/sonar/browser', 'modulepreload') }}
  {{ angular_assets('@rero/sonar-ui/dist/sonar/browser', 'js') }}
{%- endblock javascript %}
