{% extends 'sonar/page.html' %}

{%- block body %}
{% if collection %}
{% include 'collections/item.html' %}
<hr class="my-4">
{% endif %}
<sonar-root></sonar-root>
{% endblock %}

{%- block javascript %}
{{ super() }}
<script src="/static/sonar-ui/runtime-es5.js?{{ ui_version }}" nomodule defer></script>
<script src="/static/sonar-ui/runtime-es2015.js?{{ ui_version }}" type="module"></script>
<script src="/static/sonar-ui/polyfills-es5.js?{{ ui_version }}" nomodule defer></script>
<script src="/static/sonar-ui/polyfills-es2015.js?{{ ui_version }}" type="module"></script>
<script src="/static/sonar-ui/scripts.js?{{ ui_version }}"></script>
<script src="/static/sonar-ui/main-es5.js?{{ ui_version }}" nomodule defer></script>
<script src="/static/sonar-ui/main-es2015.js?{{ ui_version }}" type="module"></script>
{%- endblock javascript %}
