{% extends 'sonar/page.html' %}

{%- block view %} data-view="{{ view }}"{%- endblock %}
{%- block body %}
{% if collection %}
{% include 'collections/item.html' %}
<hr class="my-4">
{% endif %}
<sonar-root></sonar-root>
{% endblock %}

{%- block javascript %}
{{ super() }}
  <script src="/static/sonar-ui/runtime.js?{{ ui_version }}" module></script>
  <script src="/static/sonar-ui/polyfills.js?{{ ui_version }}" module></script>
  <script src="/static/sonar-ui/main.js?{{ ui_version }}" module></script>
{%- endblock javascript %}
