# -*- coding: utf-8 -*-
#
# Swiss Open Access Repository
# Copyright (C) 2021 RERO
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, version 3 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.

exclude sonar/modules/organisations/jsonschemas/organisations/organisation-v1.0.0.json
exclude sonar/modules/documents/jsonschemas/documents/document-v1.0.0.json
exclude sonar/modules/deposits/jsonschemas/deposits/deposit-v1.0.0.json
exclude sonar/modules/projects/jsonschemas/projects/project-v1.0.0.json
exclude sonar/modules/collections/jsonschemas/collections/collection-v1.0.0.json
exclude sonar/modules/subdivisions/jsonschemas/subdivisions/subdivision-v1.0.0.json

include *.html
include *.inv
include *.js
include *.lock
include *.py
include *.rst
include *.sh
include *.txt
include *.yml
include .dockerignore
include .editorconfig
include .tx/config
include Dockerfile
include Dockerfile.base
include LICENSE
include Pipfile
include babel.ini
include docker/haproxy/Dockerfile
include docker/nginx/Dockerfile
include docker/postgres/Dockerfile
include docker/elasticsearch/Dockerfile
include pytest.ini
include scripts/bootstrap
include scripts/console
include scripts/fixtures
include scripts/server
include scripts/setup
include scripts/update
include scripts/install-ui
include scripts/functions
include sonar/theme/static/xsl/oai2.xsl
include tests/ui/shibboleth_authenticator/data/valid_saml_response

prune docs/_build

recursive-include _sources *.txt
recursive-include _static *.css *.js *.png
recursive-include data *.crt *.json *.csv *.jpg
recursive-include docker *.cfg *.conf *.crt *.ini *.key *.pem *.sh
recursive-include docs *.bat *.py *.rst *.txt Makefile
recursive-include sonar *.babelrc *.eslintignore *.gitkeep *.json *.html *.js *.scss *.css *.png *.jpg *.svg *.po *.pot *.mo *.py *.txt *.woff *.woff2
recursive-include tests *.doc *.json *.pdf *.py *.xml *.jpg *.csv

exclude data/backups/organisations/data.json
exclude data/backups/users/data.json
