[tool.poetry]
name = "SONAR"
version = "1.3.0"
description = "SONAR is a future archive of scholarly publications. It intends to collect, promote and preserve the publications of authors affiliated with Swiss public research institutions."
authors = ["RERO <software@rero.ch>"]
license = "GNU Affero General Public License v3.0"

[tool.poetry.dependencies]
python = ">= 3.6, <3.8"
invenio-logging = { version = ">=1.3.0,<1.4.0", extras = ["sentry-sdk", "sentry"] }
invenio-oaiharvester = {tag = "v1.0.0a4", git = "https://github.com/inveniosoftware/invenio-oaiharvester.git"}

# Invenio 3.4 base modules. Same as invenio metadata extras without invenio-search-ui
invenio-indexer = ">=1.2.0,<1.3.0"
invenio-jsonschemas = ">=1.1.1,<1.2.0"
invenio-oaiserver = ">=1.2.0,<1.3.0"
invenio-pidstore = ">=1.2.1,<1.3.0"
invenio-records-rest = ">=1.8.0,<1.9.0"
invenio-records-ui= ">=1.2.0,<1.3.0"
invenio-records = {version = ">=1.4.0,<1.6.0", allow-prereleases = true}

invenio = {version = ">=3.4.0,<3.5.0", extras = ["base", "files", "postgresql", "auth", "elasticsearch7", "docs", "tests"]}
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
orcid = "*"
python-slugify = "*"
python3-saml = "*"
xmltodict = "*"
marshmallow = ">=3.0.0,<4.0.0"
pycountry = "*"
flask-wiki = {git = "https://github.com/rero/flask-wiki.git"}
markdown-captions = "*"
bleach = ">=3.1.4"
wand = ">=0.5.0,<0.6.0"
python-dotenv = "*"
flask-cors = ">3.0.8"
cryptography = ">=3.2"
netaddr = "*"
dcxml = "*"
lxml = ">=4.6.3,<5.0.0"
webdavclient3 = "^3.14.5"
fuzzywuzzy = "^0.18.0"
python-Levenshtein = "^0.12.0"
invenio-stats = "^1.0.0-alpha.18"
polib = "^1.1.0"
idutils = "^1.1.8"
invenio-records-resources = "^0.12.5"
urllib3 = ">=1.26.4"
coverage = {version = ">=6.0b1", allow-prereleases = true}
pillow = ">=8.2.0"
# TODO: change back to: celery = ">=5.0.0" after
# `unexpected keyword argument 'ignore_result'` is solved in version 5.0.6
celery = "5.0.5"

[tool.poetry.dev-dependencies]
Flask-Debugtoolbar = ">=0.10.1"
Sphinx = ">=3.0.0,<4"
mock = ">=2.0.0"
pytest-invenio = ">=1.4.1,<1.5.0"
safety = ">=1.8"
appnope = { version = "*", optional = true }
autoflake = "^1.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.core.masonry.api"
