{%- extends config.ACCOUNTS_COVER_TEMPLATE %}

{% from "invenio_accounts/_macros.html" import render_field, form_errors %}
{%- set messages = get_flashed_messages(with_categories=true) -%}

{% block panel %}
{%- with form = forgot_password_form %}
<div class="col-12 col-lg-6">
  <div class="card card-light text-dark">
    <div class="card-body p-3 p-lg-5">
      <h4 class="text-center mb-4">{{ _('Reset Password') }}</h3>
        {%- if messages %}
        {%- for category, message in messages %}
        <p>{{ message }}</p>
        {%- endfor %}
        {%- else %}
        <p class="text-left">
          {{ _('Enter your email address below and we will send you a link to reset your password.') }}
        </p>
        <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
          {{ form.hidden_tag() }}
          {{ render_field(form.email, icon="glyphicon glyphicon-user", autofocus=True) }}
          <button type="submit" class="btn btn-secondary btn-lg btn-block text-light">{{ _('Reset Password') }}</button>
        </form>
        {%- endif %}
    </div>
  </div>
  {%- if current_user.is_anonymous %}
  <div class="mt-2 text-right">
    <a href="{{ url_for('security.login') }}" class="text-light mr-3">{{ _('Log In') }}</a>
    {%- if security.registerable %}
    <a href="{{ url_for('security.register') }}" class="text-light">{{ _('Sign Up') }}</a>
    {% endif %}
  </div>
  {% endif %}
</div>
{%- endwith %}
{% endblock panel %}