{# SPDX-FileCopyrightText: Fondation RERO+ #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'sonar/page_settings.html' %}

{%- block settings_body scoped %}
  <sonar-root class="sonar-ui"></sonar-root>
{%- endblock settings_body %}

{%- block css %}
  <style>
    @layer bootstrap, theme, sonar-ui, primeng, utilities;
  </style>
  <style type="text/css" data-primeng-style-id="layer-order"></style>
  {{ angular_assets('@rero/sonar-ui/dist/sonar/browser', 'css') }}
  {{ webpack[get_specific_theme()] }}
{%- endblock %}

{%- block javascript %}
  {{ angular_assets('@rero/sonar-ui/dist/sonar/browser', 'modulepreload') }}
  {{ angular_assets('@rero/sonar-ui/dist/sonar/browser', 'js') }}
{%- endblock javascript %}
