{# SPDX-FileCopyrightText: Fondation RERO+ #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{%- extends config.RECORDS_UI_BASE_TEMPLATE %}

{%- block body %}
<h1>{{ _('Collections') }}</h1>
{% if records | length %}
<ul class="list-group list-group-flush">
  {% for record in records %}
  <li class="list-group-item pl-0 pb-4 pt-0 mb-4">
    {% set collection = record.to_dict() %}
    {% include 'collections/item.html' %}
  </li>
  {% endfor %}
</ul>
{% else %}
<div class="alert alert-info">{{ _('No collection found') }}</div>
{% endif %}
{% endblock %}
