// SPDX-FileCopyrightText: Fondation RERO+
// SPDX-License-Identifier: AGPL-3.0-or-later

$primary: #d7182a !default;
$secondary: #eb8b94 !default;
$color-gray: #495057 !default;
$color-white: #ffffff !default;

@import "../common/variables";
