{# SPDX-FileCopyrightText: Fondation RERO+ #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{%- extends config.RECORDS_UI_BASE_TEMPLATE %}

{%- block body %}
<h1>PDF metadata extraction</h1>
<form id="pdfForm">
    <input type="file" class="form-control-file my-4" id="file">
    <button type="submit" id="metadata" class="btn btn-primary">Extract metadata</button>
    <button type="submit" id="fulltext" class="btn btn-primary">Extract full-text</button>
    <i id="loading" class="fa-solid fa-spinner fa-spin fa-lg ml-4 d-none"></i>
    <div id="error" class="alert alert-danger my-4 d-none"></div>
    <pre id="result" class="my-4 bg-light border-dark p-4 d-none"></pre>
</form>
{%- endblock %}

{%- block javascript %}
{{ super() }}
<script src="{{ url_for('static', filename='pdf_extractor/test.js') }}"></script>
{%- endblock javascript %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='pdf_extractor/test.css') }}"/>
{% endblock %}