// SPDX-FileCopyrightText: Fondation RERO+
// SPDX-License-Identifier: AGPL-3.0-or-later

$primary: #0A3859 !default;
$secondary: #D06516 !default;
$color-white: #ffffff !default;

@import "../common/variables";
