<p>FREDI est l'acronyme de "Forschung – Recherche – Entwicklung – Développement – Innovation" la nouvelle
  plateforme de dépôt des productions scientifiques et professionnelles en Open Access ainsi que des projets de
  recherche de la Haute école pédagogique du Valais. De plus, selon la logique d'amélioration continue, la plateforme
  FREDI permet de centraliser l'intégralité des données des projets de recherche à des fins d'optimisation du système
  d'assurance qualité pour le domaine Recherche & Développement.</p>
<p class="m-0"><a href="#" class="toggle-display" data-target="long-description">En savoir plus&hellip;</a></p>
<p id="long-description" class="d-none mt-4">
  Les résultats des travaux de recherche au sein d'équipes interdisciplinaires sont partagés avec l'ensemble du système
  scolaire valaisan, de la communauté scientifique et professionnelle nationale et internationale. La HEP-VS joue un
  rôle prépondérant dans la production des connaissances. Pour ce faire, elle met en place un outil pour les
  utilisateurs et utilisatrices afin de rendre visible la production de savoirs théoriques et pratiques de l'institution
  et les projets de recherche. La base de données de la plateforme FREDI regroupe l'ensemble des productions
  scientifiques et professionnelles réalisées par les différentes équipes de recherche de l'institution. Dans la
  perspective stratégique de la circularité des savoirs, la mise à disposition de ses publications et projets de
  recherche est utile pour la communauté scientifique, mais aussi pour l'ensemble des acteurs et actrices du terrain. Ce
  rôle et cet engagement de notre institution est une volonté de diffuser à l'échelle nationale et internationale la
  littérature scientifique produite en son sein avec un accès public ou sous embargo afin que toutes personnes
  intéressées par ces recherches puissent y accéder.
</p>
