{# SPDX-FileCopyrightText: Fondation RERO+ #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

<!DOCTYPE html>
<html {%- block html_tags %}{%- endblock %}>

<head>
  <title>{{ _('Preview') }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {%- block head %}
  {% for css_bundle in css_bundles %}
  {{ webpack[css_bundle] }}
  {% endfor %}
  {{ webpack['preview.css'] }}
  {%- endblock %}
</head>

<body>
  {%- block page_body %}{%- endblock %}
  {%- block javascript %}
  {% for js_bundle in js_bundles %}
  {{ webpack[js_bundle] }}
  {% endfor %}
  {%- endblock %}
</body>

</html>
