// SPDX-FileCopyrightText: Fondation RERO+
// SPDX-License-Identifier: AGPL-3.0-or-later

$primary: #0033A0 !default;
$secondary: #00AD50 !default;
$color-white: #ffffff !default;

@import "../common/variables";
