// SPDX-FileCopyrightText: Fondation RERO+
// SPDX-License-Identifier: AGPL-3.0-or-later

@layer bootstrap {
  @import "variables";
  @import "../common/theme";

  .bg-header {
    background-color: darken($primary, 5%);
    @extend .navbar-dark;

    .nav-link {
      color: $color-white !important;
    }
  }

  .bg-organisation {
    @extend .navbar-dark;
    color: $color-white !important;

    .nav-link {
      color: $color-white !important;
    }

    .form-control {
      border: 1px solid $color-white !important;
    }
  }
}
