{# SPDX-FileCopyrightText: Fondation RERO+ #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{%- extends 'sonar/page_admin.html' %}

{%- block body %}
{% if not live %}
<div class="pull-right mt-2">
  <a href="/api/stats/{{record.pid}}?format=text/csv" class="btn btn-primary btn-sm">
    <i class="fa fa-download mr-2"></i>{{ _('Download') }}
  </a>
</div>
{% endif %}
<h1>{{ _('Stats for') }}: {{ record.model.created | format_date('%d/%m/%Y %H:%M') }}</h1>
{% if record['values'] %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>{{ _('Organisation') }}</th>
      <th>{{ _('Type') }}</th>
      <th>{{ _('Documents') }}</th>
      <th>{{ _('Full-text') }}</th>
      <th>{{ _('No full-text') }}</th>
    </tr>
  </thead>
  {% for value in record['values'] %}
  <tr>
    <td>{{ value.organisation }}</td>
    <td>{{ value.type }}</td>
    <td>{{ value.pids | length }}</td>
    <td>{{ value.full_text }}</td>
    <td>{{ value.pids | length - value.full_text }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
